<form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
    <label for="name">nazwa:</label><input name="name" id="name" type="text" formControlName="name">
    <p *ngIf="modelForm.get('name')?.errors && modelForm.get('name')?.touched">Proszę podać nazwę</p>
    <label for="destination">kraj:</label><input name="destination" id ="destination" type="text" formControlName="destination">
    <p *ngIf="modelForm.get('destination')?.errors && modelForm.get('destination')?.touched">Proszę podać kraj</p>
    <label for="start">data wyjazdu:</label><input name="start" id="start" type="date" formControlName="start">
    <p *ngIf="modelForm.get('start')?.errors && modelForm.get('start')?.touched">Proszę podać datę wyjazdu</p>
    <label for="end">data powrotu:</label><input name="end" type="date" formControlName="end">
    <p *ngIf="modelForm.get('end')?.errors && modelForm.get('end')?.touched">Proszę podać datę powrotu</p>
    <label for="price">cena:</label><input name="price" id="price" type="text" formControlName="price">
    <p *ngIf="modelForm.get('price')?.errors && modelForm.get('price')?.touched">Proszę podać liczbę większą od 0</p>
    <label for="quantity">ilość miejsc:</label><input name="quantity" id="quantity" type="text" formControlName="quantity">
    <p *ngIf="modelForm.get('quantity')?.errors && modelForm.get('quantity')?.touched">Proszę podać liczbę większą od 0</p>
    <label for="description">opis:</label><textarea name="description" type="text" formControlName="description"></textarea>
    <p *ngIf="modelForm.get('description')?.errors && modelForm.get('description')?.touched">Proszę podać opis</p>
    <label for="image">zdjęcie:</label>
    <select name="image" formControlName="image"> 
        <option value="">Wybierz zdjęcie</option>
        <option *ngFor="let el of images"[value]="el">{{el.slice(89, 110)}}</option>
    </select>
    <p *ngIf="modelForm.get('image')?.errors && modelForm.get('image')?.touched">Proszę wybrać zdjęcie</p>
    <label for="image2">zdjęcie:</label>
    <select name="image2" formControlName="image2"> 
        <option value="">Wybierz zdjęcie</option>
        <option *ngFor="let el of images"[value]="el">{{el.slice(89, 110)}}</option>
    </select>
    <p *ngIf="modelForm.get('image2')?.errors && modelForm.get('image2')?.touched">Proszę wybrać zdjęcie</p>
    <label for="image3">zdjęcie:</label>
    <select name="image3" formControlName="image3"> 
        <option value="">Wybierz zdjęcie</option>
        <option *ngFor="let el of images"[value]="el">{{el.slice(89, 110)}}</option>
    </select>
    <p *ngIf="modelForm.get('image3')?.errors && modelForm.get('image3')?.touched">Proszę wybrać zdjęcie</p>
    <button type="submit" [disabled]="!modelForm.valid">Dodaj</button>
</form>