.DS_Store
/lab4/Zadania/BiuroWycieczkowe/.angular/
/lab4/Zadania/BiuroWycieczkowe/.vscode/
/lab4/Zadania/BiuroWycieczkowe/node_modules/
/lab4/Zadania/Zadanie3/.angular/
/lab4/Zadania/Zadanie3/.vscode/
/lab4/Zadania/Zadanie3/node_modules/
/lab4/Zadania/Zadanie5/.angular/
/lab4/Zadania/Zadanie5/.vscode/
/lab4/Zadania/Zadanie5/node_modules/
/lab4/Zadania/Zadanie6/.angular/
/lab4/Zadania/Zadanie6/.vscode/
/lab4/Zadania/Zadanie6/node_modules/
/lab5/Zadania/BiuroWycieczkowe/.angular/
/lab5/Zadania/BiuroWycieczkowe/.vscode/
/lab5/Zadania/BiuroWycieczkowe/node_modules/
/lab5/Zadania/Zadanie1/.angular/
/lab5/Zadania/Zadanie1/.vscode/
/lab5/Zadania/Zadanie1/node_modules/
/lab5/Zadania/Zadanie5/.angular/
/lab5/Zadania/Zadanie5/.vscode/
/lab5/Zadania/Zadanie5/node_modules/
/lab6/Zadania/BiuroWycieczkowe/.angular/
/lab6/Zadania/BiuroWycieczkowe/.vscode/
/lab6/Zadania/BiuroWycieczkowe/node_modules/