body{
    position: relative;
}

.video_call{
    width: 100%;
    height: 1000px;
    background-color: rgb(2,31,51);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.video_call .man_portrait{
    width: 150px;
    position: absolute;
    top:20px;
    left: 20px;
}

.video_call .man_portrait img{
    width: 100%;
    border-radius: 10px;
}

.video_call .woman_portrait{
    height: 100%;
    width: 500px;
    margin: auto;
    background-image: url('lady_portrait.jpeg');
    background-position: 50% 30%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.video_call .volume{
    width: 20px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 20px;
    margin-left: 20px;
}

.video_call .volume div{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(83, 151,139);
}

.video_call .volume .gray{
    background-color: rgb(124, 124, 124);
}

.video_call .volume span{
    font-size: 15px;
    color: rgb(83, 151,139);
}

.video_call .controles{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;
}

.video_call .controles .microphone,
.video_call .controles .camera{
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_call .controles .microphone span,
.video_call .controles .camera span{
    color:rgb(83, 151,139);
}

.video_call .controles .abord{
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    background-color: rgb(210,17,24);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_call .controles .abord span{
    color:white;
}

section{
    height: 2000px;
    width: 100%;
}

@media (max-width:700px) {
    .video_call{
        background-image: url('lady_portrait.jpeg');
        background-position: 50% 30%;
    }

    .video_call .woman_portrait{
        background-image: none;
    }
}
 
@media (max-height:1000px){
    .video_call{
        height: 95vh;
    }
}

@media (max-height:400px){
    .video_call .man_portrait{
        width: 100px;
    }
}