<div id="cart">
    <span *ngIf="authService.isManager || authService.isAdmin" (click)="deleteTrip()" id="close">X</span>
    <img src="{{trip.images[0]}}" alt="tripImage" routerLink='/trips/{{trip.id}}'>
    <div id="content">
        <div id="destAndQuant">
            <h5>{{trip.destination | uppercase}} <span id="lowAmount" [ngStyle]="{'visibility': numOfTrip <= 3 ? 'visible' : 'hidden'}" >!</span></h5>
            <h5>{{trip.start}} - {{trip.end}}</h5>
        </div>
        <div id="nameAndPrice">
            <h2>{{trip.name | uppercase}}</h2>
            <h2>{{trip.price | currency: 'PLN'}}</h2>
        </div>
    </div>
    <span class="button" *ngIf="authService.isManager || authService.isAdmin" routerLink='/trip-edit/{{trip.id}}'>Edytuj</span>
</div>