header{
    width: 100%;
    height: 50vh;
    background-image: url("../../assets/images/albatros_palace.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header #cover{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header #cover h1{
    margin: 0;
    padding: 0;
    color: rgb(50, 50, 50);
    text-align: center;
}

header #cover p{
    text-align: center;
}

header #cover span{
    background-color: rgb(34, 180, 41);
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 246, 246);
}

main h2{
    text-transform: uppercase;
    margin: 15px 0px 0px 0px;
    padding: 0;
}

main ul{
    margin: 15px 0px 0px 0px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main ul li{
    margin-bottom: 10px;
}

footer{
    width: 100%;
    height: 400px;
    background-image: url("../../assets/images/travel_map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}