<header>
    <div id="cover">
        <h1>Witaj na stronie AGHTravel</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        <span routerLink='/trips' routerLinkActive="active">Zobacz Oferte</span>
    </div>
</header>
<main>
    <h2>Dane Adresowe</h2>
    <ul>
        <li>aleja Adama Mickiewicza 30</li>
        <li>30-059 Kraków</li>
        <li>travel@agh.edu.pl</li>
        <li>+048 123 321 123</li>
    </ul>
</main>
<footer></footer>