form{
    display: flex;
    flex-direction: row;
    width: 400px;
    margin: auto;
    flex-wrap: wrap;
    row-gap: 5px;
    justify-content: center;
}
form div:not(:last-of-type){
    display: flex;
    column-gap: 5px;
    justify-content: space-between;
    width: 100%;
}
form div:not(:last-of-type) input{
    width: 60%;
}

form div:last-of-type{
    display: flex;
    column-gap: 5px;
    justify-content: center;
    width: 100%;
}

form div:last-of-type input{
    width: 30%;
}